/** @format */
:root {
  --particle-line-color: #ffffff; /* default to white */
}

body {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgb(18, 18, 18);
  font-family: JetBrains Mono;
  font-size: 1rem;
  transition: 0.4s;
  line-height: 175%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
::selection {
  background: rgba(255, 255, 255, 0.25);
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 50px;
  max-width: 70%;
  margin: 0 auto;
}
.photos {
  padding-top: 25;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
}

.photos img {
  padding: 10px;
  max-width: 70%;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

header h1:hover {
  background-color: rgba(197, 211, 47, 0.161);
  padding: 10px;
  border-bottom: none;
}

u:hover {
  background-color: rgba(197, 211, 47, 0.068);
}
header h1 {
  margin: 0 0 0 0;
  transition: padding 0.25s ease-out, background-color 0.25s ease-out;
}

.nav {
  margin-left: auto;
  display: flex;
  align-items: center; /* Align items vertically */
}
nav div {
  padding-bottom: 0.25rem;
}
a:hover {
  color: grey;
  border-bottom: 1px dashed;
}
.brand {
  border-radius: 15%;
  max-width: 7%;
  max-height: 10%;
}
.brand {
  margin: 0;
  padding: 0;
  margin-right: 1em;
}
.navitem {
  margin-right: 10px;
  text-decoration: none;
}
.css-blurry-gradient2 {
  position: fixed;
  left: 30%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(150px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(7, 28, 213),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.15;
  z-index: -1;
}
.css-blurry-gradient {
  position: fixed;
  left: 60%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(175px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(187, 15, 15),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.15;
  z-index: -1;
}
section {
  margin-bottom: 20px;
}
.photo-disc {
  margin-top: 0;
}

section p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-bottom: 10px;
}
h3 {
  margin: 0;
}
#linkedin {
  padding-top: 3em;
  display: flex;
  justify-content: center;
}
u {
  border-bottom: 1px dashed rgb(253, 253, 253);
  text-decoration: none;
}
header h1 {
  margin-bottom: 0;
  text-decoration: none;
  border: none;
}
a {
  text-decoration: none;
  margin: 0;
  color: inherit;
}
.dark-mode {
  background-color: rgba(255, 255, 255, 0.824);
  color: black;
}
.dark-mode ::selection {
  background: rgba(105, 105, 105, 0.274);
}

ul {
  margin-top: 5px;
}

.emoji {
  padding: 0px;
  font-size: 175%;
}
.emoji-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0px;
  .well {
    cursor: pointer;
  }
  .toggle {
    appearance: none;
    margin: 0;
    background: transparent;
    position: absolute;
    width: 2.5%;
    height: 5%;
    cursor: pointer;
    z-index: 100;
  }
}
.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 75%;
}
.site-header p {
  padding: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-item {
  display: flex;
  margin-bottom: 20px; /* Add space between project items */
  align-items: center; /* Center align the image and text */
  position: relative; /* For positioning the pseudo-element correctly */
  padding-right: 20px; /* Add padding to the right to make space for the divider */
}

.project-image {
  width: 100px; /* Or any size that fits your design */
  height: 100px; /* Making the image square */
  object-fit: cover; /* This will ensure the image covers the area without distorting aspect ratio */
  margin-right: 20px; /* Add space between the image and the divider */
  border-radius: 10px;
  position: relative; /* To properly place the pseudo-element */
}

.project-image::after {
  content: ""; /* Necessary for a pseudo-element */
  position: absolute;
  right: -20px; /* Position the divider right outside the image */
  top: 0;
  bottom: 0;
  width: 2px; /* Width of the divider line */
  background: rgb(128, 128, 128); /* Grey with 50% transparency */
  border-radius: 1px; /* Optional: to slightly round the edges of the divider */
}

.project-info {
  flex-grow: 1; /* Allows the text to take up the remaining space */
}

section {
  background: rgba(
    255,
    255,
    255,
    0.206
  ); /* White background with 50% transparency */
  border-radius: 15px; /* Adjust as needed for desired roundness */
  padding: 20px; /* Add some space inside the section */
  margin: 20px 0; /* Add some space outside the section */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  backdrop-filter: blur(
    10px
  ); /* This will give the background a frosted-glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
}
