body {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgb(18, 18, 18);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  transition: 0.4s;
  line-height: 175%;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
::selection {
  background: rgba(255, 255, 255, 0.25);
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  max-width: 70%;
  margin: 0 auto;
}
.photos {
  padding-top: 25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos img {
  padding: 10px;
  max-width: 70%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header h1 {
  margin: 0 0 0 0;
}
.nav {
  display: flex;
  align-items: center;
  font-size: 135%;
}
nav div {
  padding-bottom: 0.25rem;
}
.navitem {
  margin-left: 15px;
  text-decoration: none;
  transition: transform 0.25s;
}

.navitem:hover {
  transform: scale(1.15) translateY(-2px) rotate(2deg);
  cursor: pointer;
}

.css-blurry-gradient2 {
  position: fixed;
  left: 30%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(150px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(7, 28, 213),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.15;
  z-index: -1;
}
.css-blurry-gradient {
  position: fixed;
  left: 60%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(175px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(187, 15, 15),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.15;
  z-index: -1;
}

.photo-disc {
  margin-top: 0;
}

section p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-bottom: 0px;
}
h3 {
  margin: 0;
  padding: 0;
}
header h1 {
  margin-bottom: 0;
  text-decoration: none;
  border: none;
}
a {
  text-decoration: none;
  margin: 0;
  color: inherit;
}

.resume-link {
  color: inherit;
  font-weight: 600;
}

.crown {
  color: rgb(233, 211, 87);
  transition: text-shadow 0.25s;
}

.crown:hover {
  text-shadow: 0 0 20px rgb(233, 211, 87);
}

.dark-mode {
  background-color: rgba(255, 255, 255, 0.824);
  color: black;
}
.dark-mode section {
  background-color: rgba(42, 42, 42, 0.082);
  color: black;
}

.dark-mode ::selection {
  background: rgba(105, 105, 105, 0.274);
}

ul {
  margin-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.emoji {
  padding: 0px;
  font-size: 125%;
  margin-left: 15px;
}

header p {
  padding: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 20px;
}

.project-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
  transition: transform 0.25s;
}

.project-image:hover {
  transform: scale(1.05);
}

.project-info {
  flex-grow: 1;
}

section {
  background: rgba(255, 255, 255, 0.065);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.25s ease;
}

@media (max-width: 576px) {
  .wrapper {
    max-width: 90%; /* Adjust the maximum width as desired */
  }
  .project-item {
    flex-direction: column; /* Stack elements vertically */
    padding-right: 0px;
    text-align: center;
  }
  .project-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
  header {
    justify-content: center; /* Center content horizontally */
  }

  header h1 {
    text-align: center; /* Center the text */
  }
  section h3 {
    padding-bottom: 10px;
  }
  .nav {
    padding-top: 15px;
  }
}
.section-container {
  cursor: pointer;
}

.project-item-container:hover {
  transform: scale(1.01) translateY(-3px) rotate(0.25deg);
  backface-visibility: hidden;
}

.project-item-container {
  transition: transform 0.25s ease;
}

section:hover {
  transform: scale(1.0075);
  backface-visibility: hidden;
}

.click-indicator {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 18px;
  opacity: 25%;
  transition: opacity 0.25s, transform 0.25s;
}

.project-item-container:hover .click-indicator {
  opacity: 100%;
  transform: scale(1.2);
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.name {
  font-size: xx-large;
  font-weight: 200;
  transition: font-weight 0.25s;
}

#resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resume iframe {
  border: none;
  border-radius: 10px;
}

.download-button {
  padding: 1%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}

#date-updated {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech {
  transition: transform 0.25s;
}

.techs a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid rgba(255, 255, 255, 0.217);
  border-radius: 5px;
  transition: font-weight 0.25s ease, font-size 0.1s ease;
}

.techs a:hover {
  font-weight: 600;
}
